* {
    box-sizing: border-box;
}

html, body {
    font-family: Times, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width:100%;
    color:black;
}
.users  {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 660px;
    background: white;
    text-align: left;
    border-collapse: collapse;
    color: #3E4347;
}

.users  th {
    font-weight: normal;
    border-bottom: 2px solid #F5E1A6;
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 8px 10px;
}
.users  td {
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 12px 10px;
    color: #8b8e91;
}

button.delete {
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    color:khaki;
    background-color: transparent;
    border:1px solid khaki;
    float:left;
}

button.delete:hover {
    background-color: khaki;
    color:white;
}

button {
    margin-top: 1rem;
}
